<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

In [ ]:
import numpy as np
import pandas as pd

# Ejercicios - parte A

<div class="alert alert-success">

<b>EJERCICIO 1</b>: 
    
Explicar las opciones Inner,Left, Right y Outer para la función *merge*, y muestre 4 ejemplos de su uso
    
    
</div>

In [ ]:
#ejemplo 1

In [ ]:
#ejemplo 2

In [ ]:
#ejemplo 3

In [ ]:
#ejemplo 4

# Ejercicios - parte B

Utilizar los datos de north_america_2000_2010.csv y  south_america_2000_2010.csv que corresponden a información de los años 2000 al 2010,para los países de México, Canadá, Estados Unidos y Chile

In [ ]:
north_america = pd.read_csv('datos/north_america_2000_2010.csv', index_col=0)
north_america

In [ ]:
south_america = pd.read_csv('datos/south_america_2000_2010.csv', index_col=0)
south_america

<div class="alert alert-success">

<b>EJERCICIO 2</b>: 
    
Tomando los   *DataFrames* north_america y  south_america encontrar la salida que se muestra en la imagen
    
**Salida**:    
    
<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicioB1.png">
    
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 3</b>: 
    
Queremos que nuestros datos sean lo más recientes posible. Después de solicitar datos sobre estos cuatro países de años posteriores, el equipo de recopilación de datos  envió cada año desde 2011 hasta 2015 en archivos CSV separados de la siguiente manera americas_2011.csv , americas_2012.csv, americas_2013.csv,americas_2014.csv, americas_2015.csv:
    
**Salida**:    
    
<img align="left" width="750"  float= "none" align="middle" src="figuras/ejercicioB-3.png">
   
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 4</b>: 
    
Ahora que tenemos una vista completa de las Américas, nos gustaría ver cómo se compara con el resto del mundo. El equipo de recopilación de datos ha proporcionado archivos CSV para Asia, Europa y el Pacífico Sur desde 2000 hasta 2015. Utilizar los archivos asia_2000_2015.csv, europe_2000_2015.csv y south_pacific_2000_2015.csv

Encontrar la salida que se muestra en la imagen
    
**Salida**:    
*Solo se muestran unas cuantas filas    


<img align="left" width="750"  float= "none" align="middle" src="figuras/ejercicioC.png">
    
    
</div>

# Ejercicios - parte C

<div class="alert alert-success">
    
5. Utilizando el DataFrame del archivo "datos/titanic.csv", encontrar las columnas que tienen elementos faltantes
    
</div>

<div class="alert alert-success">
    
6. Utilizando el DataFrame del archivo "datos/titanic.csv", encontrar el número de elementos faltantes en cada una de las columnas.
    
</div>

<div class="alert alert-success">
    
7. Utilizando el DataFrame del archivo "datos/titanic.csv", cambiar los elementos NaN de la columna "Age" por -100.
    
</div>

<div class="alert alert-success">
    
8. Utilizando el DataFrame del archivo "datos/titanic.csv", cambiar los elementos NaN de la columna "Cabin" por "no record".
    
</div>

<div class="alert alert-success">
    
9. Utilizando el DataFrame del archivo "datos/titanic.csv", generar un nuevo dataframe considerando solo filas que no tengan datos faltantes (es decir filas con datos). ¿Cuántas filas quedaron?  
    
</div>