<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

 
<center><h2 style="font-size:2em;color:#840700">   Caso de estudio: Ventas </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/ventas.jpg" align="left" style="width:400px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1:

Nombre 2:

Nombre 3:

Nombre 4:

In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [183]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df[pd.to_numeric(df['Order ID'], errors='coerce').notna()]
df = df.reset_index(drop=True)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
185945,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
185946,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
185947,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
185948,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
185949,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

### Ejercicio

Utilzar los archivos "datos/ventas/*.txt" para contestar las siguientes preguntas. A continuación propuestas para obtener el dataframe:

1.
```python
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df=df[df['Quantity Ordered']!='Quantity Ordered'] 
df = df.reset_index(drop=True)
```

2.
```python
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df[pd.to_numeric(df['Order ID'], errors='coerce').notna()]
df = df.reset_index(drop=True)
```

<div class="alert alert-success">
    
0. Explicar que hace el código de arriba
    
</div>

<div class="alert alert-success">
    
1. Encuentre el número de productos que se adquirieron en Los Angeles, CA
    
</div>

In [184]:
df_losangeles = df[df['Purchase Address'].str.contains('Los Angeles')]

df_losangeles['Quantity Ordered'].astype(int).sum()

np.int64(33289)

<div class="alert alert-success">
    
2. ¿Cuántos iPhone se vendieron?

    
</div>

In [185]:
df[df['Product'].str.contains('iPhone')]['Quantity Ordered'].astype(int).sum()

np.int64(6849)

<div class="alert alert-success">
    
3. ¿Cuánto fue su ganancia por venta de baterías? 
    
</div>

In [186]:
batteries_sell = df[df['Product'].str.contains('Batteries')]

(batteries_sell['Quantity Ordered'].astype(int) * batteries_sell['Price Each'].astype(float)).sum()

np.float64(198859.23)

<div class="alert alert-success">
    
4. ¿Cuál fue el código postal que más ordenes realizó?

    
</div>

In [187]:
df['CP'] = df['Purchase Address'].str.split(' ').str[-1]
df['CP'].value_counts().idxmax()

'94016'

<div class="alert alert-success">
    
5.  a) ¿Cuál fue el producto con más ganancias?
    
    b) ¿Cuál fue el producto con más unidades vendidas?

    
</div>

In [188]:
df['Ganancia'] = df['Quantity Ordered'].astype(int) * df['Price Each'].astype(float)
df.groupby('Product')['Ganancia'].sum().idxmax()

'Macbook Pro Laptop'

In [189]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)

df.groupby('Product')['Quantity Ordered'].sum().idxmax()

'AAA Batteries (4-pack)'

<div class="alert alert-success">
    
6. ¿Cuales son los 5 productos más vendidos?     
</div>

In [190]:
df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending=False)[:5]

Product
AAA Batteries (4-pack)      31017
AA Batteries (4-pack)       27635
USB-C Charging Cable        23975
Lightning Charging Cable    23217
Wired Headphones            20557
Name: Quantity Ordered, dtype: int64

<div class="alert alert-success">
    
7.  ¿Cuales son los 5 productos con las ganancias más altas?

    
</div>

In [191]:
df.groupby('Product')['Ganancia'].sum().sort_values(ascending=False)[:5]

Product
Macbook Pro Laptop        8037600.00
iPhone                    4794300.00
ThinkPad Laptop           4129958.70
Google Phone              3319200.00
27in 4K Gaming Monitor    2435097.56
Name: Ganancia, dtype: float64

<div class="alert alert-success">
    
8. ¿A qué hora recomendaría mostrar anuncios para maximizar la probabilidad de que el cliente compre un producto?     
</div>

In [192]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.set_index('Order Date', inplace=True)

C:\Users\Carlos Chavarria\AppData\Local\Temp\ipykernel_3644\1090850445.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

In [193]:
hourly = df['Quantity Ordered'].resample('h').sum()
hourly

Order Date
2019-01-01 03:00:00     2
2019-01-01 04:00:00     1
2019-01-01 05:00:00     1
2019-01-01 06:00:00     5
2019-01-01 07:00:00    16
                       ..
2020-01-01 01:00:00     9
2020-01-01 02:00:00     4
2020-01-01 03:00:00     6
2020-01-01 04:00:00     4
2020-01-01 05:00:00     2
Freq: h, Name: Quantity Ordered, Length: 8763, dtype: int64

In [194]:
int(hourly.groupby(hourly.index.hour).sum().idxmin())

3

Se debe mostrar anuncios a las 3:00 Horas, para maximizar la venta de productos, ya que es la hora la cual menos productos se venden

<div class="alert alert-success">
     9.   a) ¿Cuál es el día de más ganancias por cada mes?     b) ¿Cuál es el mes con más ganancias y el de menos ganancias?
    
</div>

A)

In [195]:
per_day = df['Ganancia'].resample('D').sum()
per_day

Order Date
2019-01-01     65681.94
2019-01-02     70813.20
2019-01-03     47046.20
2019-01-04     62012.21
2019-01-05     46524.63
                ...
2019-12-28    134015.50
2019-12-29    156024.62
2019-12-30    152319.81
2019-12-31    131454.30
2020-01-01      8670.29
Freq: D, Name: Ganancia, Length: 366, dtype: float64

In [196]:
per_day.groupby(per_day.index.month).idxmax()

Order Date
1    2019-01-11
2    2019-02-08
3    2019-03-22
4    2019-04-24
5    2019-05-26
6    2019-06-09
7    2019-07-21
8    2019-08-10
9    2019-09-09
10   2019-10-06
11   2019-11-24
12   2019-12-04
Name: Ganancia, dtype: datetime64[ns]

B)

In [197]:
print('Mes que mas se vende:')
print(per_day.groupby(per_day.index.month).sum().idxmax())

Mes que mas se vende:
12

In [198]:
print('Mes que menos se vende:')
print(per_day.groupby(per_day.index.month).sum().idxmin())

Mes que menos se vende:
1

<div class="alert alert-success">
    
10. ¿Cuál fue el producto más comprado en San Francisco, CA?
    
</div>

In [199]:
df_SF = df[df['Purchase Address'].str.contains('San Francisco')]
df_SF['Product'].value_counts().idxmax()

'USB-C Charging Cable'

<div class="alert alert-success">
    
11. Escribir una conclusión del ejercicio (ventajas de usar pandas, herramientas mas utilizadas en este ejercicio, etc). 
    
</div>