<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Jugadores de la NBA </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/nba.jpg" align="left" style="width:500px"/></td>
<td>

La National Basketball Association, más conocida simplemente por sus siglas NBA, es una liga privada de baloncesto profesional que se disputa en Estados Unidos desde 1949, cuando se fusionaron las ligas profesionales National Basketball League (NBL, creada en 1937) y la Basketball Association of America (BAA, fundada en 1946).
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##  Datos
Utilizar el archivo 'datos/nba.csv' para resolver los ejercicios siguientes

In [1]:
# archivo datos/nba.csv

<div class="alert alert-success">

<b>EJERCICIO 1</b>: 
    
Mostrar a los diferentes equipos en forma alfabetica

</div>

<div class="alert alert-success">

<b>EJERCICIO 2</b>: 
    
Muestre los 10 colegios con más aportaciones (o que más veces aparece)
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 3</b>: 
    
Cuantos valores nulos hay en la columna de College
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 4</b>: 
Obtener la misma salida    
</div>

<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicio7.png">

<div class="alert alert-success">

<b>EJERCICIO 5</b>: 
Obtener la misma salida    
</div>

<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicio8.png">

<div class="alert alert-success">

<b>EJERCICIO 6 </b>: 
    
Agregar dos nuevas columnas:
    
a) Una nueva columna que se llame **Height(m)** y que tenga el valor en metros. La columna Height tiene unidades Pies-Pulgadas.
    
b) Una nueva columna que se llame **Weight(kg)** y que tenga el valor en Kilogramos. La columna Weight tiene unidades en libras.
</div>